.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
}

.error {
  color: #ed143d;
  height: 30px;
}

.input {
  border: 1px solid var(--primaryColor);
  border-radius: 12px;
  height: 30px;
  margin-bottom: 10px;
  padding: 0 15px;
  transition: 0.3s ease;
}

.input:focus {
  box-shadow: 0 0 0 3px rgba(36, 177, 227, 0.4);
  outline: none;
}
