.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 5px;
}

.error {
  color: #ed143d;
  height: 30px;
}

.input {
  border: 1px solid var(--primaryColor);
  border-radius: 12px;
  height: 30px;
  margin-bottom: 10px;
  padding: 0 15px;
}

.button {
  background: none;
  border: 1px solid var(--secondaryColor);
  border-radius: 12px;
  color: var(--secondaryColor);
  cursor: pointer;
  margin-left: auto;
  padding: 5px;
  text-align: center;
  transition: color, background-color 250ms linear;
  width: 150px;
}

.button:hover {
  background-color: var(--secondaryColor);
  color: #fff;
}
