.container {
  align-items: center;
  background: url('./images/background.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  overflow: auto;
  padding: 15px;
  width: 100%;
}

.content {
  background: #fff;
  border-radius: 12px;
  border-top: 7px solid var(--secondaryColor);
  max-width: 600px;
  padding: 30px;
  width: 100%;
}

@media (min-width: 768px) {
  .container {
    padding: 35px;
  }
}
